{% extends "layout.html" %}
{% block content %}
   <div class="content-section">
   
     <table class="table text-black-50 " align='center'>
      <tbody>
        <tr>
          <td colspan="4" align='center'><b>Confirmed Booking Details</b> </td> 
        </tr>
        
        {% for bk in res %}
        <tr>
           <tr>
              <td><b>Name</b></td><td>:</td><td>{{ bk.bname }}</td><td></td> 
           </tr>
           <tr> 
              <td><b>Contact No.</b></td><td>:</td><td>{{ bk.bcontact }}</td><td></td>  
           </tr>
           <tr>  
              <td><b>Resort</b></td><td>:</td><td>{{ bk.bresort }}</td><td></td>  
           </tr>   
           <tr>  
             <td><b>Referene</b></td><td>:</td><td>{{ bk.bref }}</td><td></td>  
           </tr>   
           <tr>  
             <td><b>Booking date</b></td><td>:</td><td>{{ bk.bdate.strftime('%d-%m-%Y') }}</td><td></td>  
           </tr>   
           <tr>  
             <td><b>Day / Night</b></td><td>:</td><td>{{ bk.bdaynight }}</td><td></td>  
           </tr>   
           <tr>  
             <td><b>Rent / Cattering</b></td><td>:</td><td>{{ bk.brentcat }}</td><td></td>  
           </tr>   
           <tr>  
             <td><b>Confirmed Gathering</b></td><td>:</td><td>{{ bk.bgathconf }}</td><td></td>  
           </tr> 
           <tr>  
             <td><b>Booking By</b></td><td>:</td><td>{{ bk.author.username }}</td><td></td>  
           </tr> 
           <tr>       
                  <td><font size="2px"><a href="/un_auth/{{bk.id}}"><Button class="btn btn-outline-primary"  input type="button">Un-Authorised</Button></a></font></td>
                  <td><font size="2px"><a href="/UpdateBooking/{{bk.id}}"><Button class="btn btn-outline-primary" input type="button">  Update  </Button></a></font></td>
                  <td><font size="2px"><a href="/Delete/{{bk.id}}"><Button class="btn btn-outline-primary" input type="button">  Delete  </Button> </a></font></td>
                  <td><font size="2px"><a href="/resort_index/{{bk.bresort}}"><Button class="btn btn-outline-primary" input type="button" >   Back  </Button></a></font></td>
             </tr>
           {% endfor %}

         </tbody>
      </table>
   </div>
 {% endblock %}