{% extends "layout.html" %}
{% block content %}
	<div class="content-section">
		<form action="" method="POST">
			{{ form.hidden_tag() }}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">{{ legend }}</legend>

				<div class="form-group">
					{{ form.bdate.label(class="form-control-label")}}

					{% if form.bdate.errors %}
						{{ form.bdate(class="form-control form-control-lg is-invalid")}}
						<div class="invalid-feedback">
							{% for error in form.bdate.errors %}
								<span>{{ error}}  </span>
							{% endfor%}
						</div>
					{% else %}							
							{{ form.bdate(class="form-control form-control-lg")}}
					{% endif %}	
				</div>

				<div class="form-group">
					{{ form.bresort.label(class="form-control-label")}}

					{% if form.bresort.errors %}
						{{ form.bresort(class="form-control form-control-lg is-invalid")}}
						<div class="invalid-feedback">
							{% for error in form.bresort.errors %}
								<span>{{ error}}  </span>
							{% endfor%}
						</div>
					{% else %}							
							{{ form.bresort(class="form-control form-control-lg")}}
					{% endif %}	
				</div>
			</fieldset>

			<div class="form-group">
				{{ form.submit(class="btn btn-outline-info")}}
			</div>	
		</form>
	</div>

{% endblock content %}
