{% extends "layout.html" %}
{% block content %}
   <div class="content-section">
  
      <table align='center' class='table table-striped'>
      <tbody>
        <tr><td colspan="3" align='center'><b>Confirmed Booking (Month Wise) ( {{ bresort }} )</b></td></tr>
         {% for bk in res %}
         <tr>
           <td width='140px'>
            <a href="/sindexdate?bresort={{ bk.bresort }}&bdate={{ bk.bdate.strftime('%m/%Y') }}">
            {{ bk.bdate.strftime('%m-%Y')   }}</a>
              </td><td>:</td> <td>{{ bk.count }}</td>
         </tr>
        {% endfor %}
        <tr>
          <td colspan="3" align="center">
            <a href="/sindex"><button class="btn btn-outline-primary" type="Button"> Back </button> </a>
          </td>

        </tr>

      </tbody>
    </table>
 

   </div>
 {% endblock %}